* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    padding: 20px;
    margin-top: 10px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 3vmin;
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    
}

p {
    font-size: 5vmin;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}


form {
    display: grid;
    grid-gap: 30px;
    font-size: 3.25vmin;
}

form > div {
    display: grid;
    grid-gap: 10px;
   
}


input,
select {
    color: #eeeeee;
    background-color: transparent;
    outline: none;
    outline-style: none;
    min-height: 5vh;
    border: none;
    border-bottom: solid teal 1px;
}

i{
    margin-left: -35px;
    cursor: pointer;
}

.container-div {
    border-radius: 10px;
    padding: 5px;
    background-image: url(images/images.jpeg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.form-div{
    background: rgba(0,0,0,1);
    color: #fff;
    display: grid;
    grid-gap: 60px;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.logo {
    background: #ccc;
    border-radius: 25%;
    justify-self: center;
    max-width: 10vmin;
}

.submit {
    font-size: 2.4vmin;
    border: none;
    background-color: teal;
    border-radius: 20px;
    justify-self: center;
    padding: 10px;
}

.submit:hover {
    background-color: rgba(255,255,255,0.2);
}


.checked,
.code-check,
.confam-checked {
    display: none;
}

.match,
.email-error,
.code {
    color: red;
    display: none;
}

.pas-div,
.postal-div {
    display: grid;
    grid-template-columns: 1fr auto;
}



.confam-div {
    display: grid;
    grid-template-columns: 1fr auto;
}

.confam-checked,
.code-check {
    margin-left: -30px;
    margin-left: -40px;
}


.pas-color,
.match,
.email-error,
.code {
    font-size: 2vmin;
}


@media screen and (max-width: 1000px) {

    .form-img > img {
        object-fit: cover;
        width: 100%;
    }    

   .form-div {
       padding: 10px;
   }
}

@media screen and (max-width: 700px) {

    .container-div {
        grid-template-columns: 1fr;
        box-shadow: 12px 12px 6px 0px rgba(0,0,0,0.5);
    }

    .form-img > img {
        display: none;
    }
    .form-div{
        background: none;
    }
}

@media screen and (max-width: 500px) {

    i {
        margin-left: -25px;
    }

    .container-div {
        border-radius: 10px;
        padding: 3px;
        grid-template-columns: 1fr;

    }


    .form-img > img {
        display: none;
    }

}